node_modules
configmap.yaml
secrets.yaml

# Local .terraform directories
**/.terraform/*

# Terraform State Files
*.tfstate
*.tfstate.backup

# Crash Log Files
crash.log

# Terraform Variables File
terraform.tfvars
*.tfvars
*.tfvars.json

# Override Files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive Outputs
*.pem
*.key
terraform/.terraform/providers/

# Terraform provider binaries
**/.terraform/providers/**

# Terraform large files
.terraform.lock.hcl
**/.terraform.tfstate.lock.info
.terraform/
terraform/.terraform/

# Local terraform directories and files
.terraform/
terraform.tfstate.d/
.terragrunt-cache/
